/*-------General Properties--------*/

* {
  font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif;
}



/* -----Start Mobile Version----- */

/* -----End Mobile Version----- */

/* -----Media Queries -----*/

@media (min-width: 768px) {
    .example {
        display: none;
    }
}